div#info_wrap {
  display: flex;
  align-items: center;
  
  padding: 0 6.6%;
  height: 100vh;
  /* background: #aaa; */
}

section#info h2 {
  font: 700 8vw 'Noto sans KR';
  color: #fff;
}

section#info h2>span {
  color: #FFB342;
}